[Desktop Entry]
# The version of the Desktop Entry spec, not of the application:
Version=1.0
Type=Application
Name=Wleave
Comment=Open a system log-out menu
Icon=wleave
Exec=wleave
Terminal=false
StartupNotify=false
Categories=System;
