[Desktop Entry]
Version=0.7.0
Type=Application
Name=Wleave
Comment=Open a system log-out menu
Exec=wleave
Terminal=false
StartupNotify=false
Categories=Application;
